@font-face {
  font-family: charter;
  src: url('../fonts/fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400; /*los pesos de fuentes van de 100 en 100. normal = 400*/
}

@font-face {
  font-family: charter;
  src: url('../fonts/fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400; /*los pesos de fuentes van de 100 en 100. normal = 400*/
}

@font-face {
  font-family: charter;
  src: url('../fonts/fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold; /*los pesos de fuentes van de 100 en 100. normal = 400*/
}

@font-face {
  font-family: charter;
  src: url('../fonts/fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold; /*los pesos de fuentes van de 100 en 100. normal = 400*/
}

:root { /*cuando se pone como pseudo clase tiene mas peso que el html*/
  font-size: 16px;
  --blanco: #FFFFFE; /*variable*/
  --gris20: #a7a8a8;
  --gris30: #171718;
}

html {
  scroll-behavior: smooth;
}

body{
  margin: 0 auto;
  background: var(--gris30);
  color:var(--blanco);
  font-family: 'Roboto', sans-serif;
}

hr {
  margin: 40px 0;
  border: 1px solid rgba(97, 97, 97, 0.2);;
}

h1 {
  font-size: 60px;
  margin: 64px 0 16px ;
  font-weight: normal;
}

/*h1 + p {
  margin-bottom: 64px; (margin collapsing)
}*/

h2 {
  font-size: 32px;
  margin: 60px 0 40px;
  font-weight: normal;
}

h3 {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
}

.header {
  position: sticky;
  top: 0;
}

.header-content {
  position: relative;
}

.main {
  /* componente base: para poder poner un fondo y que el contenido se sienta seguro */
}

.wrapper {
  width: 902px;
  margin: auto;
  /* para delimitar las fronteras del contenido */
}

.main-content{
  background: var(--gris30);
}

header {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--blanco);
  width: 188px;
  position: absolute;
  top: 64px;
  left: -232px;
  z-index: 1;
}

header a {
  text-decoration: none;
  color: var(--gris20);
}

header ol {
  color: var(--gris20);
}

header li {
  margin-bottom: 16px;
  color: var(--gris20);
}

header a:hover {
  color: var(--blanco);
}

nav details summary {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

p {
  color: var(--gris20);
}

p a {
  color: var(--blanco);
}

a {
  color: var(--gris20);
}

a:hover {
  color: var(--blanco);
}

pre {
  background: #6164709a;
  color: var(--blanco);
  width: 636px;
  height: 344px;
  padding: 24px;
  border-radius: 8px;
  font-family: 'Roboto';
  line-height: 24px;
  border-left: 4px solid #8aeafd;
}

blockquote {
  background: #6164709a;
  width: 636px;
  height: 128px;
  font-size: 24px;
  border-radius: 8px;
  margin: 32px 0;
  line-height: 24px;
  border-left: 4px solid #8aeafd;
  margin: 60px 0px 63px;
  padding: 24px;
}

blockquote p {
  color: var(--blanco);
}

blockquote span {
  color: var(--blanco);
}

blockquote span::before {
  content: '-';
}

.hero{
  background-image: linear-gradient(to top, rgba(28, 28, 29, 0.844), transparent), url('../images/patron.png');
  height: 200px;
}

.section-content {
  counter-reset: titleList;
  position: relative;
}

.section-content ul li {
  margin-bottom: 16px;
  color: var(--gris20);
}

.section-content ol li {
  margin-bottom: 16px;
  color: var(--gris20);
}

.section-content + hr {
  display: none; /*para que se oculte el elemento. Esta bien dejarlo en el HTML ya que al leerse habra un espacio, visualmente se quita*/
}

.section-content img {
  margin-top: 40px;
  max-inline-size: 100%;
}

.section-content h3 {
  counter-increment: titleList;
  padding-bottom: 4px;
}

.section-content h3::before {
  content: counter(titleList) ". ";
}

.section-content h3::after {
  content: '';
  /*width: 32px;
  height: 4px;
  background: var(--blanco);
  display: block;*/
}


