@font-face {
  font-family: charter;
  src: url('../fonts/fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400; /*los pesos de fuentes van de 100 en 100. normal = 400*/
}

@font-face {
  font-family: charter;
  src: url('../fonts/fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400; /*los pesos de fuentes van de 100 en 100. normal = 400*/
}

@font-face {
  font-family: charter;
  src: url('../fonts/fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold; /*los pesos de fuentes van de 100 en 100. normal = 400*/
}

@font-face {
  font-family: charter;
  src: url('../fonts/fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold; /*los pesos de fuentes van de 100 en 100. normal = 400*/
}

:root { /*cuando se pone como pseudo clase tiene mas peso que el html*/
  font-size: 18px;
  --blanco: #FFFFFE; /*variable*/
  --azulClaro: #B8C1EC;
}

body{
  margin: 0 auto;
  background: #232946;
  color:var(--blanco);
  font-family: charter;/*Se coloca entre comillas solo si hay un espacio*/
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}


header {
  font-family: charter;
  font-size: 14px;
  color: var(--blanco);
  width: 50vw;
}

header a {
  text-decoration: none;
  color: var(--azulClaro);
}

header ol {
  color: #B8C1EC;
}

header a:hover {
  color: var(--blanco);
}

nav details summary {
  font-size: 16px;
  font-weight: bold;
}


p {
  color: var(--azulClaro);
}

img{
  margin-left: 2em;
}